:root {
  --eduact-text: #F1F2FD;
  --eduact-text-rgb: 241, 242, 253;
  --eduact-black: #fff;
  --eduact-black-rgb: 255, 255, 255;
  --eduact-white: #121534;
  --eduact-white-rgb: 18, 21, 52;
  --eduact-black3: #1F1F1F;
  --eduact-black3-rgb: 0, 3, 36;
  --eduact-grey: #F6F6F6;
  --eduact-grey-rgb: 246, 246, 246;
  --eduact-black4: #1F1F1F;
  --eduact-black4-rgb: 42, 37, 77;
  --eduact-black5: #121745;
  --eduact-black5-rgb: 18, 23, 69;
  --eduact-black6: #282445;
  --eduact-black6-rgb: 40, 36, 69;
  --eduact-soft3: #13194F;
  --eduact-soft3-rgb: 19, 25, 79;
}

.main-menu .main-menu__list > li > a,
.stricky-header .main-menu__list > li > a,
.hero-banner__title,
.arrival-one__icon,
.main-footer__title,
.main-footer__social a,
.main-footer__social a:hover,
.main-menu__login,
.main-menu__search,
.eduact-btn,
.eduact-btn:hover {
  color: var(--eduact-black);
}

.hero-banner__text {
  color: var(--eduact-text);
}

.hero-banner__btn .eduact-btn + .eduact-btn {
  border-color: var(--eduact-black);
}

.stricky-header,
.hero-banner {
  background-color: var(--eduact-black3);
}

.main-footer{
  background-color: var(--eduact-black4);
}

.testimonial-one__carousel.owl-carousel .owl-nav button {
  background-color: #333333;
  color: #EFBE8A;
}

.testimonial-one__carousel.owl-carousel .owl-nav button:hover {
  color: #EFBE8A;
}



